[Unit]
Description=Docker - Atlassian Bitbucket container
Requires=docker-atlassian-bitbucket-database.service
After=docker-atlassian-bitbucket-database.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a atlassian-bitbucket
ExecStop=/usr/bin/docker stop -t 2 atlassian-bitbucket

[Install]
WantedBy=default.target
